body {
  margin: 0;
  font-size: px;
  box-sizing: content-box;
}

#navbar {
  background-color: #233329;
  height: 20%;
}
.col {
  background-color: burlywood;
}

.titles {
  font-size: 80px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  text-align: center;
  
  border: solid 2px whitesmoke;
  padding: 5px;
}

h1 {
  color (#075c47);
  
}

h2 {
  color: whitesmoke;
  
}

#main-image {
  background-image: url("../Images/Caravan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 90vh;
  width: 100%;
}
.col-md {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 25px;
  height: 50vh;
  width: 100%;
  border: solid 5px green;
}

.picture1 {
  background-image: url("../Images/Tea.jpg");
}
.picture2 {
  background-image: url("../Images/Lockmaker.jpg");
}
.picture3 {
  background-image: url("../Images/Mill\ Workers.jpg");
}
.picture4 {
  background-image: url("../Images/French\ Landscape.jpg");
}
