body {
  margin: 0;
  font-size: px;
  box-sizing: content-box;
}

#navbar {
  background-color: #233329;
  height: 20%;
}
.col {
  background-color: burlywood;
}

.main-title {
  font-size: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
  font-weight: 900;
}
#main-image {
  background-image: url("../Images/Caravan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  opacity: 0.8;
}
